<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="GetInfo" value="https://localhost:7238/api/UpDown/SelectFiles"/>
		<add key="Upload" value="https://localhost:7238/api/UpDown/UploadFile"/>
		<add key="DownFile" value="https://localhost:7238/api/UpDown/Download"/>
		<add key="DelInfo" value="https://localhost:7238/api/UpDown/DeleteFile"/>

	</appSettings>
</configuration>
